/*******
 * Landing page
 */

body {
  font-family: Bitter, serif;
}

h1.welcome {
  font-family: Pacifico;
  font-size: 80px;
  margin: 20px 0;
  line-height: 120px;

  color: transparent;

  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #1f77b4), color-stop(0.15, #17becf), color-stop(0.3, #9467bd), color-stop(0.45, #e377c2), color-stop(0.6, #d62728),color-stop(0.75, #ff7f0e), color-stop(0.9, #bcbd22), color-stop(1, #2ca02c) );
  -webkit-background-clip: text;

  background-image: gradient( linear, left top, right top, color-stop(0, #1f77b4), color-stop(0.15, #17becf), color-stop(0.3, #9467bd), color-stop(0.45, #e377c2), color-stop(0.6, #d62728),color-stop(0.75, #ff7f0e), color-stop(0.9, #bcbd22), color-stop(1, #2ca02c) );
  background-clip: text;
}

h4 {
  /*font-family: Bitter, serif;*/
  font-size: 30px;
}

div.explanation {
  margin: 40px 0 10px 0;
  font-size: 24px;
  color: #999;
}

.homepage-search input,
.homepage-search button {
  font-size: 30px;
  height: auto;
}

.homepage-search button {
  font-weight: bold;
  margin-left: 20px;
  background-color: #f0f0ff;
  color: #614a2b;
}

.form-inline {
  min-height: 300px;
}

.source-selector {
  transition: max-height 0.5s ease 0s, border-color 0.5s ease 0s, padding 0.5s ease 0s;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 600px;
  max-height: 0px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
  border: solid 1px transparent;
  border-radius: 10px;
}

.source-selector.open {
  transition: max-height 0.5s ease 0s, border-color 0.5s ease 0s, padding 0.5s ease 0s;

  max-height: 200px;
  padding: 10px 20px;
  border-color: #aaa;
}

.show-sources {
  transition: height 0.5s ease 0s;

  height: 0;
  overflow: hidden;
  margin: 35px 0 15px 0;
}

.show-sources.open {
  transition: height 0.5s ease 0s;

  height: 20px;
}

.source-checkbox {
  width: 49%;
  text-align: left;
  text-indent: -15px;
  padding-left: 20px;
}

.attribution {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

/*******
 * Searching
 */

.search-animation {
  transition: background-color 1s ease 0s, color 1s ease 0s;

  background-color: #333;
  color: #fff;
}

/*******
 * Search results / image display
 */

.searchItem {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*cursor: pointer;*/
  /*background: #333;*/
}

.image-cover {
  transition: opacity 0.8s ease 0s;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*cursor: pointer;*/
  /*background: #333;*/
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.searchItem:hover .item-button {
  transition: opacity 0.7s ease 0s;
  opacity: 1;
}

.item-button {
  transition: opacity 0.7s ease 0s;
  opacity: 0;

  position: absolute;
  top: 0;
  height: 100%;
  z-index: 30;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  font-size: 100px;
}

.item-button .button {
  margin: 20px;
  color: #fff;
}

.item-button:hover {
  background: rgba(33, 33, 33, 0.8);
}

.item-button:hover .button {
  color: #ccd;
}

.searchItem:hover .item-new-search {
  transition: opacity 0.4s ease 0s;
  opacity: 1;
}

.item-new-search {
  transition: opacity 0.4s ease 0s;
  opacity: 0;

  position: absolute;
  z-index: 50;
  top: 20px;
  left: 20px;
  /*display: flex;*/
  /*width: 310px;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

.search-results-description {
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  font-size: 12px;
  padding: 8px 10px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  color: #333;
}

.search-results-description p {
  margin: 0;
}

a.big-button {
  font-size: 24px;
  padding: 5px 10px;
  border: solid 1px white;
  border-radius: 10px;
  color: white;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

a.big-button:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.9);
  color: #333;
}

.colourise {
  position: absolute;
  top: 30px;
  right: 170px;
  font-size: 32px;
  /* padding: 0 10px; */
  color: #fff;
  font-style: italic;
  /* background: rgba(33,33,33,0.8); */
  max-width: 500px;
  text-align: right;
}

.searchItem:hover .item-bottom-block {
  transition: opacity 0.5s ease 0s;
  opacity: 1;
}

.item-bottom-block {
  transition: opacity 0.5s ease 0s;
  opacity: 0;

  position: absolute;
  bottom: 40px;
  left: 20px;
}

.item-title {
  font-size: 50px;
}

.item-title-background {
  color: #fff;
  background: rgba(33, 33, 33, 0.8);
  padding: 0 8px;
}

.item-description,
.item-source {
  color: #fff;
  background: rgba(33, 33, 33, 0.8);
  max-width: 67%;
  margin: 0 auto;
}

.item-description {
  font-size: 20px;
  padding-top: 5px;
}
.item-source {
  padding-bottom: 5px;
}

.item-source a {
  color: #fff;
}

.item-source a:hover {
  color: #f0f0ff;
}